h4, p {
    margin: 0px;
}

/* botones */
.btn.btn-info {
    color: #fff;
    background: rgb(63, 166, 210);
    border-color: rgb(63, 166, 210);
    border-style: solid;
    border-width: 0;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin: 0px;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 2px;
    text-shadow: none;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}

/* contenedor central*/
.central{
    width: auto;
    height: auto;
    background-color: #F4F5F6;
    border: 1px solid #C7CED4;
}

/*card select template*/
.select-template-container{
    position: relative;
    margin: 20px auto;
    width: 50%;
    height: 381px;
    z-index: 1;
}

.select-template-card{
    width: 100%;
    height: 100%;
}

.select-template{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

#editar-global{
  
    padding: 5px;
}

.margin-template{
    margin-top: 50px;
}

.margin-editar{
    margin-top: 50px;
}

.margin-continuar{
    margin-top: 90px;
}