<div class="container">
  <div class="row m-t-md">
    <div class="col-md-4 text-left">
      <p class="btn btn-info text-center">paso 1</p>
    </div>
    <div class="col-md-4 text-center">
      <p class="btn btn-info text-center">paso 2</p>
    </div>
    <div class="col-md-4 text-right">
      <p class="btn btn-info text-center">paso 3</p>
    </div>
  </div>
  <hr>
  <div class="row central">
    <div class="col-md-12">
      <div class="select-template-container">
        <!-- <div class="select-template-card"> -->
        <div class="select-template">
          <div class="form-horizontal">
            <div class="col-md-12 margin-template">
              <select class="form-control" name="select-tamplates">
                <option value="value1" required>-Selecione un template-</option>
                <option value="value2">Template 1</option>
                <option value="value3">Template 2</option>
                <option value="value4">Template 3</option>
                <option value="value5">Template 4</option>
              </select>
            </div>
            <div class="col-md-12 margin-editar">
              <button id="editar-global" type="submit" class="form-control btn btn-info">Editar Header/Footer
                global</button>
            </div>
            <div class="col-md-12 text-center margin-continuar">
              <button class="btn btn-lg btn-primary" type="submit">Continuar</button>
            </div>

          </div>

        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
