h4,
p {
  margin: 0px;
}
.btn.btn-info {
  color: #fff;
  background: #3fa6d2;
  border-color: #3fa6d2;
  border-style: solid;
  border-width: 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  margin: 0px;
  padding: 15px;
  text-transform: uppercase;
  border-radius: 2px;
  text-shadow: none;
}
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px;
  text-align: center;
}
.central {
  width: auto;
  height: auto;
  background-color: #f4f5f6;
  border: 1px solid #c7ced4;
}
.select-template-container {
  position: relative;
  margin: 20px auto;
  width: 50%;
  height: 381px;
  z-index: 1;
}
.select-template-card {
  width: 100%;
  height: 100%;
}
.select-template {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
#editar-global {
  padding: 5px;
}
.margin-template {
  margin-top: 50px;
}
.margin-editar {
  margin-top: 50px;
}
.margin-continuar {
  margin-top: 90px;
}
